# Python 캐시/임시파일
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# 가상환경
mina_env/


# IDE/에디터 설정
.vscode/
.idea/

# 테스트/빌드 아웃풋
.pytest_cache/
.coverage
htmlcov/
dist/
build/

# OS 기본 생성 파일
.DS_Store

#음성 파일 임시 저장 폴더
app/uploads/*

# 예외: 중요한 파일은 제외
.env